 body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("/zigzag.jpg");
}
              .portal img { 
               height:140%;
               width:80%;
        }
